<style>
#menu
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#menu td, #menu th 
{
font-size:1em;
border:1px solid #B0B0B0 ;
padding:3px 7px 2px 7px;
}
#menu th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#99CCFF;
color:#ffffff;
}

</style>

<h1>Welcome to Killhunger</h1>

<h2>Menu</h2>
       <p align="center">
        PLease check the items you want to order!
       </p>

        
        <ul>            
              <table id="menu">
                <tr>
                  <th>Outlet</th>
                  <th>Menu Item</th>
                  <th>Description</th>
                  <th>Amount</th>
                  <th>Select</th>
                </tr>
               
            

               <% @options.each do |option|  %>
                  <tr>
	                <td><%= option.short_description %></td>
	                <td><%= option.item %></td>          
	                <td><%= option.long_description %></td>
	                <td><%= option.amount %></td>                    
	                <td><%= check_box_tag "options_checkbox[]",option.id %></td>
                  </tr>
               <% end %>
              </table>
        </ul> 
		      <p align="center">
		         <%= submit_tag 'Proceed' %>
		      </p>
     
       </p>